<section id="contact" class="main">
  <div class="row ">
    <div style="border-top: white solid">
      <h2>Contact Me</h2>
      <p>Feel free to contact me any questions or funny anecdotes</p>

      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="portfolio.html" class="btn btn-default btn-lg interElem-circl interElem-default   interElem-default  btn-default btn-lg"> <i class="fa fa-archive fa-fw"></i>
            <span class="network-name">Portfolio</span></a>

        </li>
        <li>
          <a href="mailto:vworri0@gmail.com" class="btn btn-default btn-lg interElem-circl interElem-default   interElem-default  btn-default btn-lg"> <i class="fa fa-envelope-open fa-fw"></i>
            <span class="network-name">Email</span></a>

        </li>
        <li>
          <a href="https://www.linkedin.com/in/vera-worri-b4232ab6/" class="btn btn-default btn-lg interElem-circl interElem-default   interElem-default  btn-default btn-lg"> <i
            class="fa fa-linkedin fa-fw"></i>
            <span class="network-name">LinkedIn</span></a>

        </li>
        <li>
          <a href="http://codepen.io/VWorri/" class="btn btn-default btn-lg interElem-circl interElem-default   interElem-default  btn-default btn-lg"> <i class="fa fa-codepen fa-fw"></i>
            <span class="network-name">CodePen</span></a>

        </li>
        <li>
          <a href="https://twitter.com/V_Dub_Ya_" class="btn btn-default btn-lg interElem-circl interElem-default   interElem-default  btn-default btn-lg"><i
            class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/Vworri/" class="btn btn-default btn-lg interElem-circl interElem-default   interElem-default  btn-default btn-lg"><i
            class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://medium.com/@vworri" class="btn btn-default btn-lg interElem-circl interElem-default   interElem-default  btn-default btn-lg"><i
            class="fa fa-medium fa-fw"></i> <span class="network-name">Medium</span></a>
        </li>


      </ul>
    </div>
  </div>
</section>
