
  .main {
    background-color: #475849;
    text-align: center;
    margin: auto; 
    padding: 10vh;
    display: inline-block;
    width: 100%;

  }

  ul.banner-social-buttons {
    margin-top: 0;
  }

  
  ul > li {
    display: inline-block;
  }
  
