.navbar {
  background-color:  #494758;
  position: fixed;
  display: block;
  z-index: 10000;
  top: 0;
  width:  100%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  padding: 5vh;

  
}


li{
  list-style-type: none;
  margin: 3vh;
  
}

a{
  color: #42DCA3
  
}
.navbar-header{
  float: left;
}

button{

  float: right;
  margin: 2vh;
}

.ngbDropdownMenu{
  z-index: 100000;
  overflow: visible; 
  width: 10%
}

ul {
  border: 1px solid #ddd;
  background-color:  #494758;
  border-radius: 10px;
}



.navDropdown{
  color: #42DCA3;
  background-color: transparent;
  border-color: #42DCA3;
}
.navDropdown:hover{
  outline: none;
  color: black;
  background-color: #42DCA3;
}