

#buttonDiv {
    display: inline-block;
    vertical-align: middle;
    width: 300px;

}

#myPic{
    width: 100vh;
    height: 100vh;
    display:block;
    padding: 5%;
    margin: auto;    
}

.aboutMe{
    margin: auto;    
}
