<div class="skill main row justify-content-md-center">

    <div *ngFor="let skill of skills" [class.selected]="skill==selectedSkill">
        <div class="card mb-3">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs  show">
                    <li >
                        <a data-toggle="tab"  id="skillCard_{{skill.skillName}}_nav" attr.aria-labelledby="skillCard_{{skill.skillName}}"  class="nav-link" (click)="onSelectCard(skill)">Actiive</a>
                    </li>
                    <li>
                        <a class="nav-link" id="skillDetail_{{skill.skillName}}_nav"  (click)="onSelectDetail(skill)"  attr.aria-labelledby="skillDetail_{{skill.skillName}}" data-toggle="tab">Another Actiive</a>
                    </li>


                </ul>
            </div>
     
            <div id="skillCard_{{skill.skillName}}"  attr.aria-labelledby="skillCard_{{skill.skillName}}_nav" >  

                
                <figure class="card-body">
                
                    <h4 class="card-title"> {{skill.skillName | uppercase}} </h4>
                 
                    <p class="card-text">{{skill.skillSubTitle}}</p>

                </figure>
                
            </div>
            <div  *ngIf="skill == selectedSkill" class="show active" id="skillDetail_{{skill.skillName}}"  attr.aria-labelledby="skillDetail_{{skill.skillName}}_nav">
            <figure>
                <app-skills-detail [skill]="skill"></app-skills-detail>
            </figure>
        </div>
        </div>

    </div>
</div>


