ul{
    list-style-type: none;
 
}
li {
    margin: 5vh
}


.main {
    margin-top: 50vh;
    align-content: center;
    vertical-align: middle;
    text-align: center;   
} 

.isCollapsed{
    display: none
}