
.main {
    padding: 5%;
    align-content: center;
    vertical-align: middle;
    text-align: center;   
    background-color: #485759;
    padding-top: 50vh;
}

.main li{
    list-style: none;
}

.card-header{
    background-color: blueviolet
}

.card {

    margin: 2vh;
    width: 50%;
    height: 40;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3%;
    /* padding: 2%; */

}