<div class="main row justify-content-md-center">
  <div *ngFor="let language of languages">

<div class="card mb-3">


  <!--Card image-->
  <figure class="view overlay">
      <img class="img-fluid" alt="" >
      <a href="#">
          <div class="mask rgba-white-slight"></div>
      </a>
    </figure>

  <!--Card content-->
  <figure class="card-body">
      <!--Title-->
      <h4 class="card-title">{{language.languageName}}</h4>
      <!--Text-->
      <p class="card-text">{{ language.languageExplaination}}</p> 
      <a [routerLink]="'/lang/'+ language.languageName" class="btn btn-default">Read More</a> 
  </figure>

</div>
</div>
</div>