

#buttonDiv {
    display: inline-block;
    vertical-align: middle;
    width: 300px;

}

.main {

    background-color: #c8cbb6;
    align-content: center;
    vertical-align: middle;
    text-align: center;
   
}
#myPic{
    width: 100vh;
    height: 100vh;
    display:block;
    padding: 5%;
    margin: 5%;    
}