
<div class="aboutMe main">
  <img id="myPic" src="../../assets/2018-02-24-170551.jpg">
  <p class="intro-text">Jane-of-All-Trades as adaptable
    as the program you would like to build.
    <section id="about" class="container content-section text-center">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 aboutMe">
              <h2>About Me</h2>
             
              <p>
                  I enjoy fast paced environments with interesting problems to solve and I am perfectly happy wearing a wide
                  range of different hats. To date, I have put on the hat of a BA, a Data Scientist, Back end
                  developer, all the way to the Dev Ops stage for a single project simply because that was what was
                  needed. I can work well independently or with a team. I know how to utilize the resources available
                  to me and how to work without any.

              </p>
          </div>
      </div>
  </section>




</div>